# PY101-PY109 Small Problems
### Easy 1

##### **Isn't it Odd?** Write a function that takes one integer argument and returns True when the number's absolute value is odd, False otherwise.

In [1]:
def is_odd(value: int):
    return abs(value) % 2 == 0

In [7]:
print(is_odd(34))
print(is_odd(-311))

True
False

##### **Odd Numbers:** Print all odd numbers from 1 to 99, inclusive, with each number on a separate line. Can you solve the problem by iterating over just the odd numbers?

In [8]:
for i in range(1, 100, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

##### **Even Numbers:** Print all even numbers from 1 to 99, inclusive, with each number on a separate line. Can you solve the problem by iterating over just the even numbers?

In [9]:
for i in range(2, 100, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

##### **How big is the room?** Build a program that asks the user to enter the length and width of a room, in meters, then prints the room's area in both square meters and square feet. *1 square meter == 10.7639 square feet*

In [12]:
def how_big():
    length = int(input("How long is the room in meters? "))
    width = int(input("How wide is the room in meters? "))
    area_m_sq = length * width
    area_ft_sq = area_m_sq * 10.7639

    print(f"The room's area is {area_m_sq} square meters, or {area_ft_sq} square feet.")

In [13]:
how_big()

How long is the room in meters?  5
How wide is the room in meters?  3

The room's area is 15 square meters, or 161.4585 square feet.

##### **Tip Calculator:** Create a simple tip calculator. The program should prompt for a bill amount and a tip rate. The program must compute the tip, then print both the tip and the total amount of the bill. You can ignore input validation and assume that the user will enter valid numbers.

In [16]:
def tip_calculator():
    bill = float(input("What is the bill? "))
    tip_percentage = int(input("What is the tip percentage? "))

    tip = (tip_percentage/100) * bill
    total = bill + tip

    print()
    print(f"The tip is ${tip}")
    print(f"The total is ${total}")

In [17]:
tip_calculator()

What is the bill?  200
What is the tip percentage?  20

The tip is $40.0
The total is $240.0

##### **Sum or Product of Consecutive Integers:** Write a program that asks the user to enter an integer greater than `0`, then asks whether the user wants to determine the sum or the product of all numbers between `1` and the entered integer, inclusive.

In [29]:
def consecutive_integer_calculator():
    integer = int(input("Please enter an integer greater than 0: "))
    operation = input('Enter "s" to compute the sum, or "p" to compute the product. ')
    
    if operation == 's':
        result = 0
        for i in range(1, integer+1):
            result += i

        print(f"The sum of the integers between 1 and {integer} is {result}.")

    if operation == 'p':
        result = 1
        for i in range(1, integer+1):
            result *= i

        print(f"The product of the integers between 1 and {integer} is {result}.")

In [30]:
consecutive_integer_calculator()

Please enter an integer greater than 0:  5
Enter "s" to compute the sum, or "p" to compute the product.  s

The sum of the integers between 1 and 5 is 15.

In [31]:
consecutive_integer_calculator()

Please enter an integer greater than 0:  6
Enter "s" to compute the sum, or "p" to compute the product.  p

The product of the integers between 1 and 6 is 720.

##### **Short Long Short:** Write a function that takes two strings as arguments, determines the length of the two strings, and then returns the result of concatenating the shorter string, the longer string, and the shorter string once again. You may assume that the strings are of different lengths.

In [34]:
def short_long_short(string1, string2):
    len1 = len(string1)
    len2 = len(string2)

    if len1 < len2:
        return string1+string2+string1
    else:
        return string2+string1+string2

In [35]:
# These examples should all print True
print(short_long_short('abc', 'defgh') == "abcdefghabc")
print(short_long_short('abcde', 'fgh') == "fghabcdefgh")
print(short_long_short('', 'xyz') == "xyz")

True
True
True

##### **Leap Years (Part 1):** Write a function that takes any year greater than `0` as input and returns `True` if the year is a leap year, or `False` if it is not.

##### For simplicity, this exercise assumes that the Gregorian calendar has been in continuous use since the year 1. We'll address that assumption in the next exercise that follows this one.

##### To determine whether a given year is a leap year, use the rules of the Gregorian calendar:

* ##### If the year is divisible by 400, it **is** a leap year.
* ##### If the year is divisible by 100 but not by 400, it **is not** a leap year.
* ##### If the year is divisible by 4 but not by 100, it **is** a leap year.
* ##### All other years are not leap years.

In [40]:
def is_leap_year(year: int):
    if year < 0:
        raise ValueError("Year must be greater than zero.")

    if year % 400 == 0:
        return True
    elif year % 100 == 0:
        return False
    elif year % 4 == 0:
        return True
    else:
        return False

In [46]:
# These examples should all print True
print(is_leap_year(1) == False)
print(is_leap_year(2) == False)
print(is_leap_year(3) == False)
print(is_leap_year(4) == True)
print(is_leap_year(1000) == False)
print(is_leap_year(1100) == False)
print(is_leap_year(1200) == True)
print(is_leap_year(1300) == False)
print(is_leap_year(1751) == False)
print(is_leap_year(1752) == True)
print(is_leap_year(1753) == False)
print(is_leap_year(1800) == False)
print(is_leap_year(1900) == False)
print(is_leap_year(2000) == True)
print(is_leap_year(2023) == False)
print(is_leap_year(2024) == True)
print(is_leap_year(2025) == False)
print(is_leap_year(-1) == False)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

ValueError: Year must be greater than zero.

##### **Leap Years (Part 2):** In the previous exercise, we assumed that the Gregorian calendar has been in continuous use since the year 1. However, the Gregorian calendar wasn't adopted until much later; prior to that, much of the world used the Julian calendar, which observed leap year every 4 years. In 1752, England, Ireland, and the British colonies all switched to the Gregorian calendar. Update the function from the previous exercise so it uses the Julian calendar prior to 1752, and the Gregorian calendar starting in 1752.

In [47]:
def is_leap_year(year: int):
    if year < 0:
        raise ValueError("Year must be greater than zero.")

    if year < 1752:
        if year % 4 == 0:
            return True
        else:
            return False

    if year >= 1752:
        if year % 400 == 0:
            return True
        elif year % 100 == 0:
            return False
        elif year % 4 == 0:
            return True
        else:
            return False

In [48]:
# These examples should all print True
print(is_leap_year(1) == False)
print(is_leap_year(2) == False)
print(is_leap_year(3) == False)
print(is_leap_year(4) == True)
print(is_leap_year(1000) == True)
print(is_leap_year(1100) == True)
print(is_leap_year(1200) == True)
print(is_leap_year(1300) == True)
print(is_leap_year(1751) == False)
print(is_leap_year(1752) == True)
print(is_leap_year(1753) == False)
print(is_leap_year(1800) == False)
print(is_leap_year(1900) == False)
print(is_leap_year(2000) == True)
print(is_leap_year(2023) == False)
print(is_leap_year(2024) == True)
print(is_leap_year(2025) == False)
print(is_leap_year(-1752) == True)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

ValueError: Year must be greater than zero.

##### **Multiples of 3 and 5:** Write a function that computes the sum of all numbers between `1` and some other number, inclusive, that are multiples of `3` or `5`. For instance, if the supplied number is 20, the result should be 98 (3 + 5 + 6 + 9 + 10 + 12 + 15 + 18 + 20). You may assume that the number passed in is an integer greater than 1.

In [51]:
def multisum(integer):
    result = 0

    for i in range(1, integer+1):
        if i % 3 == 0:
            result += i
        elif i % 5 == 0:
            result += i
            
    return result

In [53]:
# These examples should all print True
print(multisum(3) == 3)
print(multisum(5) == 8)
print(multisum(10) == 33)
print(multisum(15) == 60)
print(multisum(20) == 98)
print(multisum(1000) == 234168)

True
True
True
True
True
True

##### **UTF-16 String Value:** Write a function that determines and returns the UTF-16 string value of a string passed in as an argument. The UTF-16 string value is the sum of the UTF-16 values of every character in the string. (You may use ord to determine the UTF-16 value of a character.)

In [54]:
def utf16_value(string):
    result = 0
    for character in string:
        result += ord(character)

    return result

In [55]:
# These examples should all print True
print(utf16_value('Four score') == 984)
print(utf16_value('Launch School') == 1251)
print(utf16_value('a') == 97)
print(utf16_value('') == 0)

# The next three lines demonstrate that the code
# works with non-ASCII characters from the UTF-16
# character set.
OMEGA = "\u03A9"              # UTF-16 character 'Î©' (omega)
print(utf16_value(OMEGA) == 937)
print(utf16_value(OMEGA + OMEGA + OMEGA) == 2811)

True
True
True
True
True
True