# PY100 - Python Basics
### Dictionaries

##### **First Car:** Create a dictionary that contains the following data, and assign it to a variable named `car`.

In [8]:
car = {'type': 'sedan',
       'color': 'blue',
       'mileage': 80000,
      }

##### **Adding the Year:** Add some code below the following code to define a `year` key with a value of `2003`. Don't update the dictionary literal.

In [9]:
car['year'] = 2003
print(car)

{'type': 'sedan', 'color': 'blue', 'mileage': 80000, 'year': 2003}

##### **Broken Odometer:** Using the following code, delete the `'mileage'` key and its associated value from `car`.

In [13]:
car = {
    'type':    'sedan',
    'color':   'blue',
    'mileage': 80000,
    'year':    2003,
}

car.pop('mileage')
print(car)

{'type': 'sedan', 'color': 'blue', 'year': 2003}

##### **What Color?:** Using the following code, select and print the value `'blue'` from the `car` object:

In [14]:
car = {
    'type':  'sedan',
    'color': 'blue',
    'year':  2003,
}

print(car['color'])

blue

##### **What's My Length?:** Calculate and print the number of key/value pairs in the following dictionary:

In [15]:
car = {
    'type':  'sedan',
    'color': 'blue',
    'year':  2003,
}

print(len(car))

3

##### **Checking Key Existence:** Check whether the keys `'name'` and `'grade'` exist in the following dictionary:

In [20]:
student = {
    'id': 123,
    'grade': 'B',
}

print('name' in student)
print('grade' in student)

False
True

##### **Multiple Cars:** Create a nested dictionary that contains the following data.

In [21]:
cars = {'car': {'type':  'sedan',
                'color': 'blue',
                'year':  2003,
               },
        'truck': {'type': 'pickup',
                  'color': 'red',
                  'year': 1998,
                 }
       }

##### **Which Collection?:** Rewrite `car` as a list of lists in which each nested list contains two elements that represent the corresponding key/value pairs.

In [34]:
car = {
    'type':  'sedan',
    'color': 'blue',
    'year':  2003,
}

keys = ['type', 'color', 'year']
values = ['sedan', 'blue', 2003]

result = [list(item) for item in zip(keys, values)]
print(result)

[['type', 'sedan'], ['color', 'blue'], ['year', 2003]]

##### **Divided by Two:** Use a `for` loop to iterate over the `numbers` dictionary and return a list containing each number divided by 2 as an integer. The result should be truncated to an integer. Assign the returned list to a variable named `half_numbers` and print its value using `print`.

In [43]:
numbers = {
    'high':   100,
    'medium': 50,
    'low':    25,
}

half_numbers = []
for number in numbers.values():
    half_numbers.append(number // 2)

print(half_numbers)

[50, 25, 12]

##### **Labeled Numbers:** Use a `for` loop to iterate over the `numbers` dictionary and print each element's key/value pair.

In [44]:
numbers = {
    'high':   100,
    'medium': 50,
    'low':    10,
}

for key,value in numbers.items():
    print(f'A {key} number is {value}.')

A high number is 100.
A medium number is 50.
A low number is 10.