# PY101-PY109 Small Problems
### Easy 3

##### **Repeat Yourself:** Write a function that takes two arguments, a string and a positive integer, then prints the string as many times as the integer indicates.

In [1]:
def repeat(string, integer):
    for i in range(integer):
        print(string)

In [2]:
repeat('Hello', 4)

Hello
Hello
Hello
Hello

##### **ddaaiillyy ddoouubbllee:** Write a function that takes a string argument and returns a new string that contains the value of the original string with all consecutive duplicate characters collapsed into a single character.

In [3]:
def crunch(string):
    if len(string) == 0:
        return string
        
    letter_list = []

    for i in range(len(string) - 1):
        if string[i] != string[i+ 1]:
            letter_list.append(string[i])

    letter_list.append(string[-1])
    crunched = ''.join(letter_list)
    
    return crunched

In [4]:
# These examples should all print True
print(crunch('ddaaiillyy ddoouubbllee') == 'daily double')
print(crunch('4444abcabccba') == '4abcabcba')
print(crunch('ggggggggggggggg') == 'g')
print(crunch('abc') == 'abc')
print(crunch('a') == 'a')
print(crunch('') == '')

True
True
True
True
True
True

##### **Bannerizer:** Write a function that takes a short line of text and prints it within a box.

In [5]:
def print_in_box(string):
    length = len(string)
    
    print('+-', '-'*length, '-+', sep='')
    print('| ', ' '*length, ' |', sep='')
    print('| ', string, ' |', sep='')
    print('| ', ' '*length, ' |', sep='')
    print('+-', '-'*length, '-+', sep='')

In [6]:
print_in_box('To boldly go where no one has gone before.')

+--------------------------------------------+
|                                            |
| To boldly go where no one has gone before. |
|                                            |
+--------------------------------------------+

In [7]:
print_in_box('')

+--+
|  |
|  |
|  |
+--+

##### **Strings Strings:** Write a function that takes one argument, a positive integer, and returns a string of alternating `'1'`s and `'0'`s, always starting with a `'1'`. The length of the string should match the given integer.

In [8]:
def stringy(integer):
    number_list = []

    for i in range(integer):
        if i % 2 == 0:
            number_list.append('1')
        else:
            number_list.append('0')

    return ''.join(number_list)

In [9]:
print(stringy(6) == "101010")           # True
print(stringy(9) == "101010101")        # True
print(stringy(4) == "1010")             # True
print(stringy(7) == "1010101")          # True

True
True
True
True

##### **Right Triangles:** Write a function that takes a positive integer, `n`, as an argument and prints a right triangle whose sides each have n stars. The hypotenuse of the triangle (the diagonal side in the images below) should have one end at the lower-left of the triangle, and the other end at the upper-right.

In [10]:
def triangle(integer):
    for i in range(1, integer+1):
        print(' '*(integer-i), '*'*i, sep='')

In [11]:
triangle(5)

    *
   **
  ***
 ****
*****

In [12]:
triangle(9)

        *
       **
      ***
     ****
    *****
   ******
  *******
 ********
*********

##### **Madlibs:** Madlibs is a simple game where you create a story template with "blanks" for words. You, or another player, then construct a list of words and place them into the story, creating an often silly or funny story as a result. Create a simple madlib program that prompts for a noun, a verb, an adverb, and an adjective, and injects them into a story that you create.

In [13]:
def madlibs():
    noun = input('Enter a noun: ')
    verb = input('Enter a verb: ')
    adjective = input('Enter an adjective: ')
    adverb = input('Enter an adverb: ')

    print(f"Do you {verb} your {adjective} {noun} {adverb}? That's hilarious!")
    print(f"The {adjective} {noun} {verb}s {adverb} over the lazy dog.")
    print(f"The {noun} {adverb} {verb}s up to Joe's {adjective} turtle.")

In [14]:
madlibs()

Enter a noun:  dog
Enter a verb:  walk
Enter an adjective:  blue
Enter an adverb:  quickly

Do you walk your blue dog quickly? That's hilarious!
The blue dog walks quickly over the lazy dog.
The dog quickly walks up to Joe's blue turtle.

##### **Double Doubles:** A double number is an even-length number whose left-side digits are exactly the same as its right-side digits. For example, `44`, `3333`, `103103`, and `7676` are all double numbers, whereas `444`, `334433`, and `107` are not. Write a function that returns the number provided as an argument multiplied by two, unless the argument is a double number. If the argument is a double number, return the double number as-is.

In [15]:
def twice(num):
    string = (str(num))
    length = len(string)
    
    first_half = string[:length//2]
    second_half = string[length//2:]
    
    if first_half == second_half:
        return num
    else:
        return num * 2

In [16]:
print(twice(37) == 74)                  # True
print(twice(44) == 44)                  # True
print(twice(334433) == 668866)          # True
print(twice(444) == 888)                # True
print(twice(107) == 214)                # True
print(twice(103103) == 103103)          # True
print(twice(3333) == 3333)              # True
print(twice(7676) == 7676)              # True

True
True
True
True
True
True
True
True

##### **Grade Book:** Write a function that determines the mean (average) of the three scores passed to it, and returns the letter associated with that grade.

##### Numerical score letter grade list:

`90 <= score <= 100: 'A'`<br>
`80 <= score < 90: 'B'`<br>
`70 <= score < 80: 'C'`<br>
`60 <= score < 70: 'D'`<br>
`0 <= score < 60: 'F'`

##### Tested values are all between 0 and 100. There is no need to check for negative values or values greater than 100.

In [17]:
def get_grade(num1, num2, num3):
    average = (num1 + num2 + num3) / 3
    
    if average >= 90:
        return "A"
    elif average >= 80:
        return "B"
    elif average >= 70:
        return "C"
    elif average >= 60:
        return "D"
    else:
        return "F"

In [18]:
print(get_grade(95, 90, 93) == "A")      # True
print(get_grade(50, 50, 95) == "D")      # True

True
True

##### **Clean up the words:** Given a string that consists of some words and an assortment of non-alphabetic characters, write a function that returns that string with all of the non-alphabetic characters replaced by spaces. If one or more non-alphabetic characters occur in a row, you should only have one space in the result (i.e., the result string should never have consecutive spaces).

In [19]:
def clean_up(string):

    # convert all non-alpha characters to spaces
    for character in string:
        if not character.isalpha():
            string = string.replace(character, ' ')

    # add any leading and trailing characters
    string = '+'+string+'+'

    # split and rejoin to convert multiple spaces to single space
    string = ' '.join(string.split())

    # remove leading and trailing characters
    string = string[1:-1]
    
    return string

In [20]:
print(clean_up("---what's my +*& line?") == " what s my line ") # True

True

##### **What Century is That?** Write a function that takes a year as input and returns the century. The return value should be a string that begins with the century number, and ends with `'st'`, `'nd'`, `'rd'`, or `'th'` as appropriate for that number. New centuries begin in years that end with `01`. So, the years 1901 - 2000 comprise the 20th century.

In [21]:
import math

def century(year):
    century_num = str(math.ceil(year/100))
    ultimate = century_num[-1]
    suffix = None

    match ultimate:
        case '1':
            suffix = 'st'
        case '2':
            suffix = 'nd'
        case '3':
            suffix = 'rd'
        case _:
            suffix = 'th'

    if (len(century_num) > 1) and (ultimate in ['1', '2', '3']):
        penultimate = century_num[-2]
        
        match penultimate:
            case '1':
                suffix = 'th'

    return century_num+suffix

In [22]:
print(century(2000) == "20th")          # True
print(century(2001) == "21st")          # True
print(century(1965) == "20th")          # True
print(century(256) == "3rd")            # True
print(century(5) == "1st")              # True
print(century(10103) == "102nd")        # True
print(century(1052) == "11th")          # True
print(century(1127) == "12th")          # True
print(century(11201) == "113th")        # True

True
True
True
True
True
True
True
True
True