# PY110 - Programming Foundations with Python: Intermediate
### Lesson 1 Practice Problems

##### **Question 1:** Given the tuple:
```python
fruits = ("apple", "banana", "cherry", "date", "banana")
```

##### How would you count the number of occurrences of "banana" in the tuple?

In [1]:
# My solution

def count_instance(my_tuple, my_fruit):
    count = 0

    for fruit in my_tuple:
        if fruit == my_fruit:
            count += 1

    return count

fruits = ("apple", "banana", "cherry", "date", "banana")
print("Instances of 'banana':", count_instance(fruits, "banana"))
print("Instances of 'date':", count_instance(fruits, "date"))

Instances of 'banana': 2
Instances of 'date': 1

In [2]:
# Alternative solution

fruits = ("apple", "banana", "cherry", "date", "banana")
count = fruits.count("banana")
print("Instances of 'banana':", count)

count = fruits.count("date")
print("Instances of 'date':", count)

Instances of 'banana': 2
Instances of 'date': 1

##### **Question 2:** Consider the set:
```python
numbers = {1, 2, 3, 4, 5, 5, 4, 3}
print(len(numbers))
```
##### What is the set's length? Try to answer without running the code.

The set's length is `5`. Because set objects only maintain unique elements, the redundant elements will be eliminated and the length of the set will represent only the unique values of `1`, `2`, `3`, `4`, and `5`.

In [3]:
numbers = {1, 2, 3, 4, 5, 5, 4, 3}
print(len(numbers))
print(numbers)

5
{1, 2, 3, 4, 5}

##### **Question 3:** Given two sets:
```python
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
```
##### How would you obtain a set that contains all the unique values from both sets?

In [4]:
# My solution

a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

union_set = a.union(b)
print(union_set)

{1, 2, 3, 4, 5, 6}

In [5]:
# Alternative solution

union_set = a | b
print(union_set)

{1, 2, 3, 4, 5, 6}

##### **Question 4:** Given the following code, what would the output be? Try to answer without running the code.

```python
names = ["Fred", "Barney", "Wilma", "Betty", "Pebbles", "Bambam"] 
name_positions = {}

for index, name in enumerate(names):
    name_positions[name] = index 
    
print(name_positions)
```

The output of the above code would be the following dictionary object:

```python
{
    "Fred": 0,
    "Barney": 1,
    "Wilma": 2,
    "Betty": 3,
    "Pebbles": 4,
    "Bambam": 5,
}

```
Line 2 defines an empty dictionary, which is then populated within the subsequent `for` loop. In each iteration of the `for` loop, an element is added to the dictionary which contains a name from the list object `names` as its key and the index associated with that name as its value. The populated dictionary is then printed to the console.

In [6]:
names = ["Fred", "Barney", "Wilma", "Betty", "Pebbles", "Bambam"] 
name_positions = {}

for index, name in enumerate(names):
    name_positions[name] = index 
    
print(name_positions)

{'Fred': 0, 'Barney': 1, 'Wilma': 2, 'Betty': 3, 'Pebbles': 4, 'Bambam': 5}

##### **Question 5:** Calculate the total age given the following dictionary:
```python
ages = { 
    "Herman": 32,
    "Lily": 30, 
    "Grandpa": 5843, 
    "Eddie": 10, 
    "Marilyn": 22, 
    "Spot": 237,
}

```

In [7]:
# My solution

ages = { 
    "Herman": 32,
    "Lily": 30, 
    "Grandpa": 5843, 
    "Eddie": 10, 
    "Marilyn": 22, 
    "Spot": 237,
}

total_age = 0
for age in ages.values():
    total_age += age

print("Total age:", total_age)

Total age: 6174

In [8]:
# Alternative solution

total_ages = sum(ages.values())
print("Total age:", total_age)

Total age: 6174

##### **Question 6:** Determine the minimum age from the above `ages` dictionary.

In [9]:
ages = { 
    "Herman": 32,
    "Lily": 30, 
    "Grandpa": 5843, 
    "Eddie": 10, 
    "Marilyn": 22, 
    "Spot": 237,
}

minimum_age = min(ages.values())
print("Minimum age:", minimum_age)

Minimum age: 10

##### **Question 7:** What would the following code output? Try to answer without running the code.

```python
words = ['ant', 'bear', 'cat'] 
selected_words = []
for word in words:
    if len(word) > 3: 
        selected_words.append(word)
        
print(selected_words)
```

The output of the above code would be a list object with the string object `'bear'` as its only element: `['bear']`. Given the selection criterion on Line 4, only `'bear'` contains more than three characters, and is thus the only string appended to the list object referenced by `selected_words`.

In [10]:
words = ['ant', 'bear', 'cat'] 
selected_words = []
for word in words:
    if len(word) > 3: 
        selected_words.append(word)
        
print(selected_words)

['bear']

##### **Question 8:** Given the following string, create a dictionary that represents the frequency with which each letter occurs. The frequency count should be case-sensitive:

```python
statement = "The Flintstones Rock"
```

##### The output should resemble the following:
```python
{
    'T': 1, 
    'h': 1, 
    'e': 2, 
    'F': 1, 
    'l': 1, 
    'i': 1, 
    'n': 2, 
    't': 2, 
    's': 2, 
    'o': 2, 
    'R': 1, 
    'c': 1, 
    'k': 1
}
```

##### Your program may output the pairs in a different order.

In [11]:
# My solution

statement = "The Flintstones Rock"
statement = statement.replace(' ','')
character_freq = {}

for character in statement:
    if character in character_freq:
        character_freq[character] += 1
    else:
        character_freq[character] = 1

print(character_freq)

{'T': 1, 'h': 1, 'e': 2, 'F': 1, 'l': 1, 'i': 1, 'n': 2, 't': 2, 's': 2, 'o': 2, 'R': 1, 'c': 1, 'k': 1}

In [12]:
# Alternative solution

character_freq = {}
statement = statement.replace(' ','')

for character in statement:
    character_freq[character] = character_freq.get(character, 0) + 1

print(character_freq)

{'T': 1, 'h': 1, 'e': 2, 'F': 1, 'l': 1, 'i': 1, 'n': 2, 't': 2, 's': 2, 'o': 2, 'R': 1, 'c': 1, 'k': 1}

##### **Question 9:** What is the return value of the list comprehension below? Try to answer without running the code.
```python
[num for num in [1, 2, 3] if num > 1]
```

The return value of the above list comprehension is a list object with elements `2` and `3`: `[2, 3]`

In [13]:
[num for num in [1, 2, 3] if num > 1]

[2, 3]

##### **Question 10:** What does the following code print and why?
```python
dictionary = {'a': 'ant', 'b': 'bear'} 
print(dictionary.popitem())
```

The above code prints the dictionary `{'b': 'bear'}`. The dictionary method `.popitems()` removes and returns the last element that was added to the dictionary on which it was called. In this case, we know that `{'b': 'bear'}` is this final element, because it is last in the variable assignment of `dictionary`.

##### **Question 11:** What does the following code return? Try to answer without running the code.
```python
lst = [1, 2, 3, 4, 5]
lst[:2]
```

The above code returns a list object whose values are `1` and `2`: `[1, 2]`.

In [14]:
lst = [1, 2, 3, 4, 5]
lst[:2]

[1, 2]

##### **Question 12:** What would be the output of the below code? Try to answer without running the code.
```python
frozen = frozenset([1, 2, 3, 4, 5])
frozen.add(6)
print(frozen)
```

The code would raise an exception on Line 2. Frozen sets are immutable, so there is no method `.add()` that can mutate a frozenset object, as intended in the code above.

In [15]:
frozen = frozenset([1, 2, 3, 4, 5])
frozen.add(6)
print(frozen)

AttributeError: 'frozenset' object has no attribute 'add'