# PY100 - Python Basics
### Debugging

##### **Reading Error Messages:** You come across the following code. What errors does it raise for the given examples and what exactly do the error messages mean?

In [1]:
def find_first_nonzero_among(numbers):
    for n in numbers:
        if n != 0:
            return n

find_first_nonzero_among(0, 0, 1, 0, 2, 0)
find_first_nonzero_among(1)

TypeError: find_first_nonzero_among() takes 1 positional argument but 6 were given

The function definition expects to receive 1 argument because it was given one parameter: `numbers`. Instead, we get a `TypeError` when calling `find_first_non_zero_among` because 6 numbers are given. These 6 numbers are not collected within a single list, so they are taken as 6 different arguments.

##### **Weather Forecast:** Our `predict_weather` function should output a message indicating whether a sunny or cloudy day lies ahead. However, the output is the same every time the function is invoked. Why? Fix the code so that it behaves as expected.

In [8]:
import random

def predict_weather():
    sunshine = random.choice(['True', 'False'])
    print(sunshine)

    if sunshine:
        print("Today's weather will be sunny!")
    else:
        print("Today's weather will be cloudy!")

predict_weather()

False
Today's weather will be sunny!

The error occurs because `random.choice()` is selecting between the strings `'True'` and `'False'`, not the booleans `True` and `False`. A non-empty string is truthy, so the line `if sunshine:` always evaluates to true. Here is the fixed code:

In [9]:
def predict_weather():
    sunshine = random.choice([True, False])
    print(sunshine)

    if sunshine:
        print("Today's weather will be sunny!")
    else:
        print("Today's weather will be cloudy!")

predict_weather()

False
Today's weather will be cloudy!

##### **Multiply By Five:** When the user inputs `10`, we expect the program to print The result is 50!, but that's not the output we see. Why not?

In [10]:
def multiply_by_five(n):
    return n * 5

print("Hello! Which number would you like to multiply by 5?")
number = input()

print(f"The result is {multiply_by_five(number)}!")

Hello! Which number would you like to multiply by 5?

 10

The result is 1010101010!

The function `input()` receives the string `'10'` and not the number `10`. To fix this error, convert the input value into a number either within the function or before passing it into the function.

##### **Pets:** Magdalena has just adopted a new pet! She wants to add her new dog, Bowser, to the `pets` dictionary. After doing so, she realizes that her dogs Sparky and Fido have been mistakenly removed. Help Magdalena fix her code so that all three of her dogs' names will be associated with the key `'dog'` in the `pets` dictionary.

In [24]:
pets = { 'cat': 'pepe', 'dog': ['sparky', 'fido'], 'fish': 'oscar' }

# One approach
# pets['dog'] = ['sparky', 'fido', 'bowser']


# Another approach
# pets['dog'] += ['bowser']
pets['dog'].append('bowser')

print(pets)

{'cat': 'pepe', 'dog': ['sparky', 'fido', 'bowser'], 'fish': 'oscar'}

##### **Confucius Says:** You want to have a small script delivering motivational quotes, but with the following code you run into a very common error message: `TypeError: can only concatenate str (not "NoneType") to str`. What is the problem and how can you fix it?

In [27]:
def get_quote(person):
    if person == 'Yoda':
        'Do. Or do not. There is no try.'
    if person == 'Confucius':
        'I hear and I forget. I see and I remember. I do and I understand.'
    if person == 'Einstein':
        'Do not worry about your difficulties in Mathematics. I can assure you mine are still greater.'

print('Confucius says:')
print('"' + get_quote('Confucius') + '"')

Confucius says:

TypeError: can only concatenate str (not "NoneType") to str

We get this error because we don't have `return` statements. Since nothing is explicitly returned, the function's return value is `None`.

In [28]:
def get_quote(person):
    if person == 'Yoda':
        return 'Do. Or do not. There is no try.'
    if person == 'Confucius':
        return 'I hear and I forget. I see and I remember. I do and I understand.'
    if person == 'Einstein':
        return 'Do not worry about your difficulties in Mathematics. I can assure you mine are still greater.'

print('Confucius says:')
print('"' + get_quote('Confucius') + '"')

Confucius says:
"I hear and I forget. I see and I remember. I do and I understand."

##### **Populate List:** You want to add the numbers from 1 to 5 to a list, but the code below is not producing the expected result. How can you fix it?

In [29]:
numbers = []

for i in range(5):
    numbers.append(i)

print(numbers)

[0, 1, 2, 3, 4]

Instead of `range(5)`, use `range(1,6)`.

In [32]:
numbers = []

for i in range(1,6):
    numbers.append(i)

print(numbers)

[1, 2, 3, 4, 5]

##### **Dictionary Access:** You are trying to access a value in a dictionary, but the code is giving you an error. Can you change line 3 so that it prints `"Unknown"` instead of raising an error?

In [34]:
info = {'name': 'Srdjan', 'age': 38}

print(info.get('city', 'Unknown'))

Unknown

##### **Matrix:** We wanted to create a matrix 3x3 so we could use it to build a Tic-Tac-Toe game. However, we encountered an issue, as whenever we change a value in one nested list, all nested lists are affected. Can you fix the code?

In [53]:
sub_list = ["-", "-", "-"]
matrix = []

import copy

for _ in range(3):
    matrix.append(copy.copy(sub_list))

matrix[0][0] = "X"
print(matrix)                # [['X', '-', '-'], ['X', '-', '-'], ['X', '-', '-']]

[['X', '-', '-'], ['-', '-', '-'], ['-', '-', '-']]

At first, all of the items in the matrix are pointing to the same object. So when one changes the rest cahnge, too. To fix this, make sure each item is appended as a `copy` of `sub_list`.

##### **Find Maximum:** Your colleague has implemented a custom function to find the maximum value in a list. However, the function sometimes works correctly, but other times it produces incorrect results. Can you help your colleague fix the bug?

In [59]:
def find_maximum(numbers):
    if not numbers:
        return None

    # Let max_number equal the first number in the list, not 0
    max_number = numbers[0] 
    for number in numbers:
        if number > max_number:
            max_number = number
    return max_number

print(find_maximum([45, 3, 10, 98, 22]))  # Expected 98
print(find_maximum([-1, 0, 5, 3]))         # Expected 5
print(find_maximum([-10, -3, -20, -2]))   # Expected -2

98
5
-2

##### **Digit Product:** You've been asked to implement a function called `digit_product` that takes a string of digits as an argument and returns the product of all the digits in the string. When testing the function, you find that it returns `0`, which is not what you expect. Can you identify the issue and correct the code?def digit_product(str_num):

In [63]:
def digit_product(str_num):
    digits = [int(n) for n in str_num]

    # Let product = 1, not 0.
    product = 1

    for digit in digits:
        product *= digit

    return product

result = digit_product('12345')
print(result)  # expected: 120, actual: 0

120