# Introduction to Programming with Python
### Basic Operations: Exercises

##### 1. Concatenate two strings, one with your first name and one with your last, to create a new string with your full name as its value.

In [4]:
my_string = "Leah" + " " + "Fulmer"
print(my_string)

Leah Fulmer

##### 2. This question may be a little challenging if your math skills are rusty. Don't be afraid to take advantage of the hints. Try your best to solve the problem, but don't feel compelled to complete it if you become frustrated. Use the REPL and the arithmetic operators to extract the individual digits of 4936.

In [56]:
number = 4936

ones = number % 10
tens = (number // 10) % 10
hundreds = (number // 100) % 10
thousands = (number // 1000) % 10

In [57]:
print(f'Ones place is {ones}.')
print(f'Tens place is {tens}.')
print(f'Hundreds place is {hundreds}.')
print(f'Thousands place is {thousands}.')

Ones place is 6.
Tens place is 3.
Hundreds place is 9.
Thousands place is 4.

##### 3. What does the following code do? Why?<br>
`print('5' + '10')`

The code will print 510, because it is performing string concatenation.

In [63]:
print('5' + '10')

510

##### 4. Refactor the code from the previous exercise to use coercion to print 15 instead.

In [60]:
print(5 + 10)

15

##### 5. Will an error occur if you try to access a list element with an index greater than or equal to the list's length? For example:<br>
   `foo = ['a', 'b', 'c']`<br>
    `print(foo[3])      # Will this result in an error?`

Yes, this will result in an error. You can only access a list element with an index less than the list's length.

In [64]:
foo = ['a', 'b', 'c']
print(foo[3])

IndexError: list index out of range

##### 6. To what value does the following expression evaluate?<br>
   `'foo' == 'Foo'`

The expression will evaluable to `False`.

In [79]:
'foo' == 'Foo'

False

##### 7. What will the following code do? Why?<br>
   `int('3.1415')`

The code will produce a `ValueError` because `int()` cannot coerce a string representing a float into an integer. `int()` coerces strings to integers, and `float()` coerces floats to integers.

In [82]:
int('3.1415')

ValueError: invalid literal for int() with base 10: '3.1415'

In [83]:
# Alternatively...
print(int('3'))
print(float('3.1415'))

3
3.1415

##### 8. To what value does the following expression evaluate?<br>
   `'12' < '9'`

The expression evaluates to `True` because it is evaluated lexicographically. 1 is less than 9.

In [84]:
'12' < '9'

True