# Introduction to Programming with Python
### Intro to Collections: Exercises

##### 1. If you have a list named `people`, how can you determine the number of entries in that list?

The built-in function `len()` can tell you the number of entries in `people`.

In [1]:
people = ['Leah', 'Maria', 'Fulmer']
len(people)

3

##### 2. Can you write some code to change the value `'bye'` in the following tuple to `'goodbye'`?

In [7]:
stuff = ('hello', 'world', 'bye', 'now')
stuff = list(stuff)
stuff[2] = 'goodbye'
stuff = tuple(stuff)
stuff

('hello', 'world', 'goodbye', 'now')

##### 3. Identify at least 2 differences between lists and tuples. Identify at least 2 ways that lists and tuples are similar.

Lists are mutable and tuples are not; furthermore, lists use `[]` syntax and tuples use `()` syntax.

Lists and tuples are similar in that they are both ordered sequences and both heterogeneous.

##### 4. Why can we treat strings as sequences?

Strings behave closely enough to sequences (e.g., iterable, ordered, indexed) that we can enact similar behavior with them and thus treat them as sequences.

##### 5. How do the set types differ from the sequence types?

Set types are unordered and thus not indexed, and they only contain unique elements.

##### 6. Assuming you have the following assignment:

`pi = 3.141592`

Write some code that converts the value of `pi` to a string and assigns it to a variable named `str_pi`.

pi = 3.141592
str_pi = str(pi)
str_pi

##### 7. Without running the following code, identify the numbers that are included in each of the following ranges:

In [10]:
range(7)         # [0, 1, 2, 3, 4, 5, 6]
range(1, 6)      # [1, 2, 3, 4, 5]
range(3, 15, 4)  # [3, 7, 11]
range(3, 8, -1)  # []
range(8, 3, -1)  # [8, 7, 6, 5, 4]

range(8, 3, -1)

In [11]:
# Checking my responses...
print(list(range(7)))
print(list(range(1, 6)))
print(list(range(3, 15, 4)))
print(list(range(3, 8, -1)))
print(list(range(8, 3, -1)))

[0, 1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[3, 7, 11]
[]
[8, 7, 6, 5, 4]

##### 8. How would you print all the numbers in the following range?

In [12]:
print(list(range(3, 17, 4)))

[3, 7, 11, 15]

##### 9. Given the below code, answer the following questions and explain your answers:

`my_list = [1, 2, 3, [4, 5, 6]]`<br>
`another_list = list(my_list)`

* ##### Are the lists assigned to `my_list` and `another_list` equal?
* ##### Are the lists assigned to `my_list` and `another_list` the same object?
* ##### Are the nested lists at index 3 of `my_list` and `another_list` equal?
* ##### Are the nested lists at index 3 of `my_list` and `another_list` the same object?

* `my_list` and `another_list` **are equal** because they have the same values.
* `my_list` and `another_list` **are not the same object**. `list()` always creates a new object.
* The nested lists **are equal** because they have the same values.
* The nested lists **are the same object**. They've been shallow copied, which does not create a new nested list.

##### 10. Bob expects the following code to print the names in alphabetical order. Without running the code, can you say whether it will? Explain your answer.

`names = { 'Chris', 'Clare', 'Karis', 'Karl', 'Max', 'Nick', 'Victor' }`<br>
`print(names)`

The names will very likely not print in alphabetical order. They are part of a sequence (`{}`) and thus part of an unordered collection.

In [13]:
# Checking...
names = { 'Chris', 'Clare', 'Karis', 'Karl',
          'Max', 'Nick', 'Victor' }
print(names)

{'Karis', 'Chris', 'Karl', 'Clare', 'Victor', 'Nick', 'Max'}

##### 11. Consider the data in the following table:

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Alice</td>
      <td>USA</td>
    </tr>
    <tr>
      <td>Francois</td>
      <td>Canada</td>
    </tr>
    <tr>
      <td>Inti</td>
      <td>Peru</td>
    </tr>
    <tr>
      <td>Monika</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Sanyu</td>
      <td>Uganda</td>
    </tr>
    <tr>
      <td>Yoshitaka</td>
      <td>Japan</td>
    </tr>
  </tbody>
</table>

##### You need to write some Python code to determine the country name associated with one of the listed names. Your code should include the data structure(s) you need and at least one test case to ensure the code works.

In [17]:
names_countries = {'Alice':     'USA',
                   'Francois':  'Canada',
                   'Inti':      'Peru',
                   'Monika':    'Germany',
                   'Sanyu':     'Uganda',
                   'Yoshitaka': 'Japan',
                  }
names_countries['Sanyu']

'Uganda'