# PY 109 Study Guide: Python Basics

In [1]:
# explicit coercion with the tuple() constructor
my_list = [1, 2, 3]
print(tuple(my_list))

(1, 2, 3)

In [61]:
# plain division type coersion
print(6/2)

3.0

In [66]:
# integer division type coersion
print(8//2)

4

In [3]:
# mixing integers and floats in mathematical expressions
4 + 2.0

6.0

In [67]:
# using underscore to separate digits in sets of three
print(1000 == 1_000)
print(123.456_78 == 123.45678)

True
True

In [22]:
# floats may be represented through scientific notation,
# but integers are not
print(float(-3e16))
print(int(-3e16))

-3e+16
-30000000000000000

In [25]:
# creating a multi-line string
my_string = '''hello, everyone!
today is a beautiful day!'''
print(my_string)

hello, everyone!
today is a beautiful day!

In [30]:
# using triple quotes and escape characters for strings
# with both single and double quotes in their body
string1 = '''What d'you mean by "closed"?'''
string2 = "What d'you mean by \"closed\"?"
print(string1, string2, sep='\n')

What d'you mean by "closed"?
What d'you mean by "closed"?

In [39]:
# string indexing, slicing
print('hello'[0] == 'h')
print('hello'[-4] == 'e')
print('hello'[::2] == 'hlo')

True
True
True

In [51]:
# f-strings for embedding expresssions
age = 30
print(f"Use {{age}} to embed an expression. Today I'm {age} years old!")

Use {age} to embed an expression. Today I'm 30 years old!
12,345,678
12_345_678

In [52]:
# f-strings for large numbers
my_number = 1234.5678
print(f'{my_number:,}')
print(f'{my_number:_}')

1,234.5678
1_234.5678

In [54]:
# str.strip()
my_string = 'abbcccxyzaaabbc'
my_string.strip('abc')

'xyz'

In [55]:
# str.replace(old, new)
my_string = 'cat'
my_string.replace('c', 'h')

'hat'

In [59]:
# splitting
my_string = 'I love you'
print(my_string.split())

my_next_string = 'I + love + you'
print(my_next_string.split('+'))

['I', 'love', 'you']
['I ', ' love ', ' you']

In [68]:
# str.find()
my_string = 'hello'

print(my_string.find('h'))
print(my_string.find('l'))

0
2

In [69]:
# str.rfind()
my_string = 'hello'

print(my_string.rfind('h'))
print(my_string.rfind('l'))

0
3

In [70]:
# boolean values and logical operators
print(not 4)

False

In [82]:
# do empty sequences require zero/falsy arguments?
print(range(0))
print(set())
print(frozenset())

range(0, 0)
set()
frozenset()

In [96]:
# ranges
# print(range(0.0, 0.5, 0.1))

# print(range(2, 25, 4))
# print(list(range(2, 25, 4)))

print(range(1, 10, -1))
print(list(range(1, 10, -1)))

print(range(10, 10, -1))
print(list(range(10, 10, -1)))

range(1, 10, -1)
[]
range(10, 10, -1)
[]