# PY 109 Study Guide: Python Basics

In [ ]:
# explicit coercion with the tuple() constructor
my_list = [1, 2, 3]
print(tuple(my_list))

In [ ]:
# plain division type coersion
print(6/2)

In [ ]:
# integer division type coersion
print(8//2)

In [ ]:
# mixing integers and floats in mathematical expressions
4 + 2.0

In [ ]:
# using underscore to separate digits in sets of three
print(1000 == 1_000)
print(123.456_78 == 123.45678)

In [ ]:
# floats may be represented through scientific notation,
# but integers are not
print(float(-3e16))
print(int(-3e16))

In [ ]:
# creating a multi-line string
my_string = '''hello, everyone!
today is a beautiful day!'''
print(my_string)

In [ ]:
# using triple quotes and escape characters for strings
# with both single and double quotes in their body
string1 = '''What d'you mean by "closed"?'''
string2 = "What d'you mean by \"closed\"?"
print(string1, string2, sep='\n')

In [ ]:
# string indexing, slicing
print('hello'[0] == 'h')
print('hello'[-4] == 'e')
print('hello'[::2] == 'hlo')

In [ ]:
# f-strings for embedding expresssions
age = 30
print(f"Use {{age}} to embed an expression. Today I'm {age} years old!")

In [ ]:
# f-strings for large numbers
my_number = 1234.5678
print(f'{my_number:,}')
print(f'{my_number:_}')

In [ ]:
# str.strip()
my_string = 'abbcccxyzaaabbc'
my_string.strip('abc')

In [ ]:
# str.replace(old, new)
my_string = 'cat'
my_string.replace('ca', 'haun')

In [ ]:
# splitting
my_string = 'I love you'
print(my_string.split())

my_next_string = 'I + love + you'
print(my_next_string.split('+'))

In [ ]:
# str.find()
my_string = 'hello'

print(my_string.find('h'))
print(my_string.find('l'))

In [ ]:
# str.rfind()
my_string = 'hello'

print(my_string.rfind('h'))
print(my_string.rfind('l'))

In [ ]:
# boolean values and logical operators
print(not 4)

In [ ]:
# do empty sequences require zero/falsy arguments?
print(range(0))
print(set())
print(frozenset())

In [ ]:
# ranges
# print(range(0.0, 0.5, 0.1))

# print(range(2, 25, 4))
# print(list(range(2, 25, 4)))

print(range(1, 10, -1))
print(list(range(1, 10, -1)))

print(range(10, 10, -1))
print(list(range(10, 10, -1)))

In [ ]:
# ranges, cont.
for i in range (1, 10, -1):
    print('hi')

In [ ]:
# list element retrieval, reassignment
my_list = [True, 2, '3']
print(my_list[0])

my_list[0] = {True: 1}
print(my_list)

In [ ]:
# dictionary element retrieval, reassignment
my_dict = {
    True: 'I love you!',
    2: {'Krishna': 'Radha'},
    '3': ['rajas', 'tamas', 'sattva']
}

print(my_dict[True])

my_dict[True] = 'I love you very much!'
print(my_dict)

In [ ]:
# return value of list method list.append()
my_list = [1, 2, 3]
append_return_value = my_list.append(4)

print(append_return_value)
print(my_list)

In [ ]:
# return value of list method list.pop()
my_list = ['a', 'b', 'c', 'd']
pop_return_value = my_list.pop()

print(pop_return_value)
print(my_list)

print(my_list.pop(0))
print(my_list)

In [ ]:
# return value of list method list.reverse()
my_list = [1, 2, 3, 4, 5]
reverse_return_value = my_list.reverse()

print(reverse_return_value)
print(my_list)

In [ ]:
# return value of key-based access
my_dict = {
    True: 'I love you!',
    2: {'Krishna': 'Radha'},
    '3': ['rajas', 'tamas', 'sattva'],
}

print(my_dict["Shiva"])

In [ ]:
# dict.get()
my_dict = {
    True: 'I love you!',
    2: {'Krishna': 'Radha'},
    '3': ['rajas', 'tamas', 'sattva'],
}

get = True
get_return_value = my_dict.get(get, f'No element {get}.')
print(get_return_value)

get = False
get_return_value = my_dict.get(get, f'No element {get}.')
print(get_return_value)

In [ ]:
# slicing return value
my_tuple = (1, 2, 3, 4)
slicing_return_value = my_tuple[::-1]

print(slicing_return_value)
print(my_tuple)

In [ ]:
# arithmetic operations
print(type(3.5//3))
print(4.5%3)
print(type(4.5%3))
print(type(3**9))

In [ ]:
# string concatenation
string1 = "I love you"
string2 = " so much!"
print(id(string1))
print(id(string2))
print(id(string1 + string2))

In [ ]:
list1 = ['I', 'love', 'you']
list2 = [4, 'ever']
print(id(list1))
print(id(list2))
print(id(list1 + list2))

print(list1)
print(list2)

In [ ]:
# list concatenation
list1 = ['I', 'love', 'you']
print(list1)
print(id(list1))

list2 = [4, 'ever']
print(list2)
print(id(list2))

# list concatentation with augmented assignment 
# mutates a list in-place
list1 += list2
print(list1)
print(id(list1))

# list concatenation without augmented assignment
# creates a new list
list1 = list1 + list2
print(list1)
print(id(list1))

In [ ]:
# comparison operators
print('4' != 4)
print('a' < 'c')
print('Z' < 'a')

In [ ]:
# comparison vs. is

low1, high1 = -5, 256
low2, high2 = -5, 256
print(low1 == low2, high1 == high2)
print(low1 is low2, high1 is high2)

low3, high3 = -6, 257
low4, high4 = -6, 257
print(low3 == low4, high3 == high4)
print(low3 is low4, high3 is high4)

In [ ]:
my_list = [1, 2, 3, 4]
my_list[::-2]

In [ ]:
# and, or, not

print({} and [])
print({} or [])
print(not "")
print(not "I love you!")

In [ ]:
# operator precedence
print(0 or 2 >= 1.5 and 'c' > 'a')
print(1 or 2 >= 1.5 and 'c' > 'a')

In [ ]:
# string interning
a = 'Leah'
b = 'Leah'
c = b

print(a == b)
print(a is b)
print(id(a) == id(b))

print(b == c)
print(b is c)
print(id(b) == id(c))

In [ ]:
# string interning
d = 'Hello, Leah!'
e = 'Hello, Leah!'
f = e

print(d == e)
print(d is e)
print(id(d) == id(e))

print(e == f)
print(e is f)
print(id(e) == id(f))

In [ ]:
# string interning
s = 'supercalifragilisticexpialidocious'
t = 'supercalifragilisticexpialidocious'
print(id(s) == id(t))         # True

In [ ]:
# mutability
my_list = [1, 2, 3]
print(my_list)
print(id(my_list))

my_list += [4]
print(my_list)
print(id(my_list))

# immutability
my_int = 4
print(my_int)
print(id(my_int))

my_int += 4
print(my_int)
print(id(my_int))

In [ ]:
# variable reassignment
my_var = "Hello"
print(id(my_var))

my_var = "Hello"
print(id(my_var))


my_var = "Hello, world!"
print(id(my_var))

my_var = "Hello, world!"
print(id(my_var))

In [ ]:
# variable reassignment
my_var = ['Hello']
print(id(my_var))

my_var = ['Hello']
print(id(my_var))

In [ ]:
# variable reassignment
my_var = -6
print(id(my_var))

my_var = -6
print(id(my_var))

In [8]:
# variable reassignment
my_var = "Hello"
print(id(my_var))        # 4395582784

my_new_var = "Hello"
print(id(my_new_var))    # 4395582784

my_var = "Hi"
print(id(my_var))        # 4395582784

# The string object 'Hello, world!' is not interned
my_var = "Hello, world!"
print(id(my_var))        # 4395395376

my_var = "Hello, world!"
print(id(my_var))        # 4395395440

4421994752
4421994752
4421995664
4422023728
4422023792

In [3]:
my_var = 4
print(id(my_var))    # 4343275776

4381040896

In [ ]:
# variables as pointers
my_list = ['I', 'love', 'you']
print(id(my_list))
print(id(my_list[1]))

my_list[1] = 'adore'
print(id(my_list))
print(id(my_list[1]))

print(my_list)

In [ ]:
# variable shadowing
greeting = "Hello"

def say_hi(name):
    greeting = "Hi"
    print(f'{greeting}, {name}!')

say_hi("Leah")
print(greeting)

In [ ]:
# variable shadowing
greeting = "Hello"

def say_hi(name):
    global greeting
    greeting = "Hi"
    print(f'{greeting}, {name}!')

say_hi("Leah")
print(greeting)

In [ ]:
# variable initialization in a function
def initialize_greeting():
    global greeting
    greeting = "Salutations!"

initialize_greeting()
print(greeting)

In [19]:
# exception handling

def invalid_number(string):
    try: 
        print("Executing try block...")
        int(string)
    except TypeError:
        print("Executing TypeError exception block...")
        return True
    except ValueError:
        print("Executing ValueError exception block...")
        return True
    else:
        print("Executing else block...")
    finally:
        print("Executing finally block...")

    return False

In [24]:
print(invalid_number("10"))

Executing try block...
Executing else block...
Executing finally block...
False

In [25]:
print(invalid_number("10.0"))

Executing try block...
Executing ValueError exception block...
Executing finally block...
True

In [28]:
print(invalid_number([10]))

Executing try block...
Executing TypeError exception block...
Executing finally block...
True