# PY101 - Programming Foundations with Python: Basics
### Lesson 3 Practice Problems: Easy 2

##### **Question 1:** Write two distinct ways of reversing the list without mutating the original list.

In [15]:
numbers = [1, 2, 3, 4, 5]

In [16]:
# Way 1
numbers = [1, 2, 3, 4, 5]
print(numbers[::-1])         # [5, 4, 3, 2, 1]
print(numbers)               # [1, 2, 3, 4, 5]

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [18]:
# Way 2
numbers = [1, 2, 3, 4, 5]
print(list(reversed(numbers)))    # [5, 4, 3, 2, 1]
print(numbers)                    # [1, 2, 3, 4, 5]

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

##### **Question 2:** Given a number and a list, determine whether the number is included in the list.

In [19]:
numbers = [1, 2, 3, 4, 5, 15, 16, 17, 95, 96, 99]

number1 = 8  # False (not in numbers)
number2 = 95 # True (in numbers)

print(number1 in numbers)
print(number2 in numbers)

False
True

##### **Question 3:** Programmatically determine whether `42` lies between `10` and `100`, inclusive. Do the same for the values `100` and `101`.

In [24]:
def between_10_100_inclusive(num):
    return num in range(10, 101)

print(between_10_100_inclusive(42))
print(between_10_100_inclusive(100))
print(between_10_100_inclusive(101))

True
True
False

##### **Question 4:** Given a list of numbers `[1, 2, 3, 4, 5]`, mutate the list by removing the number at index `2`, so that the list becomes `[1, 2, 4, 5]`.

In [25]:
# list.pop('index') removes the element at the given index,
# or the last element if no index given; returns popped element

numbers = [1, 2, 3, 4, 5]
numbers.pop(2)
print(numbers)

[1, 2, 4, 5]

In [30]:
# Launch School Solution 4
# del removes objects from memory; this can be used for 
# manipulating lists, or removing variables entirely

numbers = [1, 2, 3, 4, 5]
del numbers[2]
print(numbers)

[1, 2, 4, 5]

##### **Question 5:** How would you verify whether the data structures assigned to the variables `numbers` and `table` are of type `list`?

In [33]:
numbers = [1, 2, 3, 4]
table = {'field1': 1, 'field2': 2, 'field3': 3, 'field4': 4}

print(type(numbers) is list)
print(type(table) is list)

True
False

In [34]:
# Launch School Solution 5
# isinstance(object, type) confirms whether the 
# given object is of the give type; returns boolean

numbers = [1, 2, 3, 4]
table = {'field1': 1, 'field2': 2, 'field3': 3, 'field4': 4}

print(isinstance(numbers, list))
print(isinstance(table, list))

True
False

##### **Question 6:** Back in the stone age (before CSS), we used spaces to align things on the screen. If we have a 40-character wide table of Flintstone family members, how can we center the following title above the table with spaces?

In [36]:
title = "Flintstone Family Members"
print("|" + title.center(40) + "|")

|       Flintstone Family Members        |

##### **Question 7:** Write a one-liner to count the number of lower-case `t` characters in each of the following strings:

In [38]:
statement1 = "The Flintstones Rock!"
statement2 = "Easy come, easy go."

print(statement1.count("t"))
print(statement2.count("t"))

2
0

##### **Question 8:** Determine whether the following dictionary of people and their age contains an entry for `'Spot'`:

In [41]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 402, 'Eddie': 10}
print(ages.get('Spot', "Spot isn't there!"))

Spot isn't there!

In [44]:
# Launch School Solution 8
print('Spot' in ages)

False

##### **Question 9:** We have most of the Munster family in our ages dictionary:
```python
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10}
```
Add entries for Marilyn and Spot to the dictionary:
```python
additional_ages = {'Marilyn': 22, 'Spot': 237}
```

In [46]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10}
additional_ages = {'Marilyn': 22, 'Spot': 237}
ages.update(additional_ages)
print(ages)

{'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10, 'Marilyn': 22, 'Spot': 237}